@page "/example"

@using MoonCore.Helpers
@using MoonCore.Blazor.Tailwind.Components
@using MoonlightPluginTemplate.Shared.Http.Responses

@inject HttpApiClient ApiClient

<h3 class="text-primary-500 mb-8">Welcome to this example page</h3>

<LazyLoader Load="Load">
    <h1 class="text-center text-zinc-500">
        @Response.Number
    </h1>
</LazyLoader>

@code
{
    private ExampleResponse Response;
    
    private async Task Load(LazyLoader _)
    {
        Response = await ApiClient.GetJson<ExampleResponse>("api/example");
    }
}
